<<<<<<< HEAD
.o_kanban_renderer.o_crm_team_kanban {
    --KanbanRecord-width: 400px;
}

.o_kanban_renderer.o_crm_team_member_kanban {
=======
.o_crm_team_kanban .o_kanban_renderer {
    --KanbanRecord-width: 400px;
}

.o_crm_team_member_kanban .o_kanban_renderer {
>>>>>>> 94d7b2a773f2c4666c263d1d26cdbe278887f8f6
    --KanbanRecord-width: 350px;

    .o_kanban_group:not(.o_column_folded) {
        min-height: 100px;
    }
    .o_kanban_record {
        &:not(.o_kanban_ghost){
            min-height: 100px;
        }
    }
    .ribbon {
        &::before, &::after {
            display: none;
        }

        span {
            padding: 5px;
            font-size: small;
            height: auto;
        }
    }
    .ribbon-top-right {
        margin-top: -$o-kanban-dashboard-vpadding;

        span {
            left: 0px;
            right: 30px;
        }
    }
}
