.o_calendar_sidebar {
    .bg-primary {
        background-color: $o-enterprise-primary-color;
    }
<<<<<<< HEAD
    .o_google_sync_button {
        padding: 0;
        cursor: pointer;
        font-size: 0.9em;
    }
=======
>>>>>>> 94d7b2a773f2c4666c263d1d26cdbe278887f8f6
    .o_google_sync_button_configured {
        color: white;
        height: 2em;

        &:hover {
            #google_check {
                display: none;
            }
        }
        &:not(:hover) {
            #google_stop {
                display: none;
            }
        }
    }
}
